# api-gateway
PORT=3001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Downstream services
AUTH_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3003
SOCIAL_SERVICE_URL=http://localhost:3004
CHAT_SERVICE_URL=http://localhost:3005
STUDY_SERVICE_URL=http://localhost:3006
MATERIAL_SERVICE_URL=http://localhost:3007
MARKETPLACE_SERVICE_URL=http://localhost:3008
