# api-gateway
PORT=25021
ALLOWED_ORIGINS=http://localhost:25080,http://localhost:25443

# Downstream services
AUTH_SERVICE_URL=http://localhost:22022
USER_SERVICE_URL=http://localhost:23306
SOCIAL_SERVICE_URL=http://localhost:38888
CHAT_SERVICE_URL=http://localhost:38080
STUDY_SERVICE_URL=http://localhost:38081
MATERIAL_SERVICE_URL=http://localhost:38082
MARKETPLACE_SERVICE_URL=http://localhost:38083
